<a href="https://colab.research.google.com/github/piyushpp07/DataScience/blob/main/titanic_assignment_DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv")

In [27]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [28]:
target = df.Survived

In [29]:
input =  df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [30]:
input.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [31]:
from sklearn.preprocessing import LabelEncoder
sex_encoder = LabelEncoder()

In [32]:
input['Sex_n'] = sex_encoder.fit_transform(input.Sex)

In [33]:
input_n = input.drop(['Sex'],axis='columns')

In [34]:
input_n.head()

   Survived  Pclass   Age     Fare  Sex_n
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0
3         1       1  35.0  53.1000      0
4         0       3  35.0   8.0500      1

In [35]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [36]:
input_n.isna().sum()

Survived      0
Pclass        0
Age         177
Fare          0
Sex_n         0
dtype: int64

In [37]:
input_n.Age.fillna(input_n.Age.median(),inplace=True)

In [38]:
input_n.isna().sum()

Survived    0
Pclass      0
Age         0
Fare        0
Sex_n       0
dtype: int64

In [39]:
model.fit(input_n,target)

DecisionTreeClassifier()

In [40]:
model.score(input_n,target)

1.0

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(input_n, target,random_state=4, test_size=0.33,)

In [48]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [49]:
model.score(x_test,y_test)

1.0